apiVersion: v1
kind: Service
metadata:
  name: {{ include "redfish-exporter.fullname" . }}
  labels:
    {{- include "redfish-exporter.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "redfish-exporter.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
